@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.animate-fade-in-down {
	animation: fadeInDown 0.5s ease-out forwards;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: theme('colors.slate.50');
    background-image: radial-gradient(circle at center, theme('colors.slate.200') 1px, transparent 0);
    background-size: 20px 20px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
